<%- include('../partials/questions/CUSTOM_HTML_OPENER') %>

<h1>OH SNAP, looks like you didn't say the magic word!</h1>

<img src="./images/newman.gif" alt="newman">

<p>This is the 404 page suckah. Its ugliness is intentional and precisely engineered (including the flattening effect on the gif).</p>

<a href="/">BACK TO THE MAIN SITE</a>

<p>Copyright Dan Atack Productions 2020. All rights reserved.</p>