<%- include('../partials/questions/CUSTOM_HTML_OPENER') %>
<header>
    <h1>Congratulations you have reached the home page. Yes, it does exist. No, it's currently not very... "purty." Ahem.
    </h1>
</header>
<body>
    <div>
        <ol>
            Here are some links: Click them!
            <li>
                <a href='question1'>QUESTION 1</a>
            </li>
            <li>
                <a href='question2'>QUESTION 2</a>
            </li>
            <li>
                <a href='question3'>QUESTION 3</a>
            </li>
            <li>
                <a href='question4'>QUESTION 4</a>
            </li>
            <li>
                <a href='question5'>QUESTION 5</a>
            </li>
            <li>
                <a href='question6'>QUESTION 6</a>
            </li>
            <li>
                <a href='question7'>QUESTION 7</a>
            </li>
            <li>
                <a href='question8'>QUESTION 8</a>
            </li>
            <li>
                <a href='question9'>QUESTION 9</a>
            </li>
            <li>
                <a href='question10'>QUESTION 10</a>
            </li>
        </ol>
    </div>
</body>