<%- include('../partials/questions/CUSTOM_HTML_OPENER') %>
<body>
    <%- include('../partials/questions/HEADER') %>
    <div class='main'>
        <h2>Part 2</h2>
        <div class='content'>
            <%- include('../partials/questions/8') %>
            <div class='box answer'>
                <h3>Answer</h3>
                <%- include('../partials/questions/ARROWS') %>
                <!-- render answer here -->
                <p>No answer required here...</p>

            </div>
        </div>
    </div>
</body>